$mainColor: black;
$ndMainColor: #FDF6F6;
$bodyBgColor: #F7F7F7;
$cartBtn: #AF1C1C;
$hoverCartBtn: #480000;
$storeBtn: #337BAE;
$navBg: #337BAE;
$footerBg: #0982AD;

$mainFont: 'Montserrat', sans-serif;
$secFont: 'Indie Flower', cursive;
$logoFont: 'Great Vibes', cursive;

$gridCols: 12;
$gridWidth: 100%;
$gutter: 0;

